<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap mp rescap">

	<Identity
	  Name="2f305bdd-fcbf-4473-b08d-06c39f20dda5"
	  Publisher="CN=daram"
	  Version="1.0.0.0" />

	<mp:PhoneIdentity PhoneProductId="2f305bdd-fcbf-4473-b08d-06c39f20dda5" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

	<Properties>
		<DisplayName>Degra</DisplayName>
		<PublisherDisplayName>Daramee</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="Daramee.Degra.App">
			<uap:VisualElements
			  DisplayName="Degra"
			  Square150x150Logo="Assets\Square150x150Logo.png"
			  Square44x44Logo="Assets\Square44x44Logo.png"
			  Description="Degra - Image Compressor"
			  BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
			</uap:VisualElements>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="broadFileSystemAccess" />
		<Capability Name="internetClient" />
		<uap:Capability Name="removableStorage"/>
		<uap:Capability Name="picturesLibrary"/>
	</Capabilities>
</Package>